*{
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    margin-top: 20px;
    margin-left: 40px;
}

h1, h2, p, ul, ol{
    color: rgb(77, 71, 71);
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ul {
    line-height: 1.4;
} */

li {
    margin-top: 5px;
}

p {
    line-height: 1.5;
}

a {
    color: #0a417c;
    text-decoration: none;
    padding: 1px;
    border: 1px solid #b31313;
}

a:hover {
    text-decoration: underline;
}